{% extends "layout.html" %}
{% block body %}
<h1>home page</h1>

{% if current_user and current_user.is_authenticated %}
  Hi {{ current_user.name }}
  <p>You are logged in</p>
  <a href="{{ url_for('show_user_profile', username=current_user.name) }}">My profile</a>
  <a href="{{ url_for('new_trip') }}">Add a new trip</a>
  <a href="{{ url_for('logout') }}">Logout</a>
{% else %}
  <p>You are logged out</p>
  <a href="{{ url_for('login') }}">Login</a>
  <a href="{{ url_for('signup') }}">Signup new user</a>
{% endif %}

{% endblock %}
