{% from 'macros.html' import render_field %}

{% extends "layout.html" %}
{% block body %}
<h1>Login</h1>
<form method=post>
  <dl>
    {{ render_field(form.email) }}
    {{ render_field(form.password) }}
  </dl>
  <p><input type=submit value=Login>
</form>
{% endblock %}
