{% macro render_field(field) %}
  {{ field.label }}
  {{ field(**kwargs)|safe }}
  {% if field.errors %}
    <ul class=errors>
    {% for error in field.errors %}
      <li>{{ error }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endmacro %}

{% macro new_object_form(form) %}
  <form method=post>
    <dl>
      {% for field in form %}
        {{ render_field(field) }}
      {% endfor %}
    </dl>
    <p><input type=submit value=Add>
  </form>
{% endmacro %}
