{% extends "layout.html" %}
{% block body %}
<h1>Trip</h1>
<ul>
  <li>{{ trip.km_stand }}</li>
  <li>{{ trip.sprit_stand }}</li>
  <li>{{ trip.getankt }}</li>
  <li>{{ trip.standort }}</li>
  <li>{{ trip.driver }}</li>
</ul>

<a href="{{ url_for('logout') }}">Logout</a>
{% endblock %}
