{% extends "layout.html" %}
{% block body %}
<h1>Profile</h1>

Hi {{ current_user.name }}
<p>You are logged in</p>

<ul>
  <li>{{ user.name }}</li>
  <li>{{ user.email }}</li>
  <li>{{ user.telefon }}</li>
  <li>{{ user.adresse }}</li>
  <li>{{ user.not_kontakt_name }}</li>
  <li>{{ user.not_kontakt_telefon }}</li>
</ul>

<a href="{{ url_for('edit_user_profile', username=user.name) }}">Edit your information</a>
<a href="{{ url_for('logout') }}">Logout</a>
{% endblock %}
