{% extends "layout.html" %}
{% block body %}
<h1>Reservation</h1>
<ul>
  <li>{{ reservation.start }}</li>
  <li>{{ reservation.end }}</li>
  <li>{{ reservation.driver }}</li>
</ul>

<a href="{{ url_for('logout') }}">Logout</a>
{% endblock %}
