{% from 'macros.html' import render_field %}

{% extends "layout.html" %}
{% block body %}
<h1>Signup</h1>
<form method=post>
  <dl>
    {{ render_field(form.name) }}
    {{ render_field(form.email) }}
    {{ render_field(form.password) }}
    {{ render_field(form.confirm) }}
    {{ render_field(form.telefon) }}
    {{ render_field(form.adresse) }}
    {{ render_field(form.not_kontakt_name) }}
    {{ render_field(form.not_kontakt_telefon) }}
  </dl>
  <p><input type=submit value=Signup>
</form>
{% endblock %}
